<h4><strong>Welcome To the Community</strong></h4>, <%= @user.name%> </strong></h4>

<p style="text-align:left;padding:10px;">Thanks for signing up. We are happy to have you on board.<p>

<p> follow us on <a href="#">Instagram</a> as well!</p>

<h4>[Library Management]</h4>