<h4><strong>Welcome To the Community</strong></h4>, <%= @user.name%> </strong></h4>

<p>Thank you!</p>

<p style="text-align:left;padding:10px;">Thanks for signing up. Welcome to our community. We are happy to have you on board.<p>

<p>Why don’t you follow us on [social media] as well?</p>

<h4>[Library Management]</h4>