<h2><strong>Hello ,<%= @user.name%> </strong></h2>

<h4> Thanks for using <strong> Library Management App</strong></h4>

<p>You have successfully rented <strong><%= @book.title %></strong> <p>

<p>Please find the receipt below </p>

<p style="font-weight: bold;">Happy learning </p>
