<div class="container" style="border:2px solid black; padding:10px; margin:10px;
border-radius:20px; position:absolute; top:20%; left:16%; width:100%;">

<h1 class="container" style="margin:5px;padding:10px; text-align:justify;">New user</h1>

<%= render "form", user: @user %>

<br>


</div>
