

 <table >
 
        <thead>
          <tr>
              <th style="text-align:center">Name</th>
              <th style="text-align:center">email</th>
              <% unless current_user.role.eql?("admin")%>
               <th style="text-align:center">Books rented</th>
               <th style="text-align:center">rented at</th>
              <% end %>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td style="text-align:center"><%= @user.name.capitalize() %></td>
            <td style="text-align:center"><%= @user.email%></td>
          <% unless current_user.role.eql?("admin")%>
            <td>
                <% @books.each do |book|%>
                  <ul> 
                    <li style="text-decorations:none; color:inherit;text-align:center;"> 
                      <%=link_to book.title, book%>
                    </li>
                  </ul>
                <% end %>
            </td>

            <td>
              <% @books.each do |book|%>
                    <ul> 
                      <li style="text-decorations:none; color:inherit;text-align:center;"> 
                          <%= @rented_at.find_by(user_id:current_user.id,book_id:book.id).created_at%> 
                      </li>
                    </ul>
                <% end %>
            </td> 
          <% end %> 

         
          </tr>
        </tbody>
     
  </table>

 
</div>
