
  

  <div class="container indexpagecontainer">
        <div class="row" style="text-align:left; " >
            <div class="col s12 m6" style="border-radius:20px;">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                <span class="card-title indexpagetitle">Hello User!</span>
                <p class="indexpagecontent">Welcome to Library Management app, Please login/signup to rent a book. Happy Learning!</p> </p>
                </div>
                <% unless current_user %>
                <div class="card-action" style="text-align:center;">
                 <%= link_to "Login", login_path %>
                 <%= link_to "signup", signup_path %>
                </div>
                <% end %>
            </div>
            </div>
        </div>
    </div>
  </div>