/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */

.edit_book_path{

    margin:10px;
    padding:15px; 
    float:right;
}


.card .card-content .card-title {
    font-weight:bold; 
    font-size:30px;
    color:rgba(236, 180, 166, 0.9);
    padding-bottom:10px;
 }


.new_book_path
 {
    float:right;
    padding:10px;
    margin-top:15px;
    font-size:20px;
    font-weight:bold;
 }

 .showindex
 {
    position: absolute; 
    top:20%;
    left:20%;
 }
 .indexpagecontainer {
    position:absolute;
    top:25%;
    left:18%
 }
 .indexpagetitle{
    padding:10px;
    font-size:2em; 
    font-weight:bold;
 }
 .indexpagecontent
 {
    padding:10px;
    font-size:20px;
 }

 .sessions-container{
    border:2px solid black; 
    padding:10px; 
    margin:10px;
    border-radius:20px; 
    position:absolute; 
    top:20%; 
    left:16%; 
    width:100%;
 }

 .login_lable{
    font-size:25px; 
    font-weight:bold; 
    padding:10px;
 }

 .unlessadmin{
    position:absolute;
    top:20%;
    left:20%;
 }

.unless_admin_response{
   color: red;
   font-size:30px;  
}

.Student_user{
   text-decoration:none; 
   color:inherit;
   text-align:center;
}